*.idea
/DeliVeggie.Models/bin/Debug/netcoreapp3.1/DeliVeggie.Models.dll
/DeliVeggie.Models/bin/Debug/netcoreapp3.1/DeliVeggie.Models.pdb
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.csprojAssemblyReference.cache
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.dll
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.pdb
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/indexLayout.xml
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/.gitignore
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/contentModel.xml
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/encodings.xml
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/indexLayout.xml
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/modules.xml
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/projectSettingsUpdater.xml
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/.idea/vcs.xml
/DeliVeggie.Models/.idea/.idea.DeliVeggie.Models/riderModule.iml
/DeliVeggie.Models/bin/Debug/DeliVeggie.Models.1.0.0.nupkg
/DeliVeggie.Models/bin/Debug/netcoreapp3.1/DeliVeggie.Models.deps.json
/DeliVeggie.Models/obj/Debug/DeliVeggie.Models.1.0.0.nuspec
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.AssemblyInfo.cs
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.AssemblyInfoInputs.cache
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.assets.cache
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.csproj.CoreCompileInputs.cache
/DeliVeggie.Models/obj/Debug/netcoreapp3.1/DeliVeggie.Models.csproj.FileListAbsolute.txt
/DeliVeggie.Models/obj/DeliVeggie.Models.csproj.nuget.cache
/DeliVeggie.Models/obj/DeliVeggie.Models.csproj.nuget.dgspec.json
/DeliVeggie.Models/obj/DeliVeggie.Models.csproj.nuget.g.props
/DeliVeggie.Models/obj/DeliVeggie.Models.csproj.nuget.g.targets
/DeliVeggie.Models/obj/project.assets.json
/DeliVeggie.Models/obj/project.packagespec.json
